.header {
  background: cornflowerblue;
}

.logo {
  width: 100
}

.navigation {
  display: flex;
  flex: 1;
}

.listItem {
  list-style-type: none;
  padding-inline-start: 1rem;
}

.link {
  color: white;
  box-shadow: none;
}  
